Unity/**/Library/
Unity/**/obj/
Unity/**/Temp/
Unity/**/*.sln
Unity/**/*.csproj
Unity/**/*.pdb
Unity/**/*.bundle

xcuserdata/

Unity/**/holobuild/
Unity/**/UWP/
Unity/**/holobuild/
**/.vs/
**/*.db
**/*.opendb
**/*.unitypackage

*.visualstudio/Build/
*.visualstudio/x64/
*.visualstudio/Master/
*.visualstudio/Debug/
*.user

PopCoreml.visualstudio/packages/

PopCoreml.visualstudio/inc/

PopMl.Android/obj/
